body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

.container {
  max-width: 80%;
  margin: 40px auto;
  padding: 30px;
  background-color: #e6e1e1;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.createTeam{
  font-size: 30px;
  font-weight: bold;
}
/* Step bar */
.step-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.step {
   flex: 1; 
  text-align: center;
    padding: 10px 0;
    font-weight: 600;
     color: #383737; 
     display: flex; 
      align-items: center; 
       justify-content: center;
        gap: 8px; 
        cursor: pointer;
  }



.circle { 
  width: 20px; 
  height: 20px; border:
   2px solid #888; 
   border-radius: 50%; 
   background-color: #fff; 
   display: flex; 
  align-items: center; 
  justify-content: center;
   font-size: 12px;
    font-weight: bold; 
  }
.step.active.circle {
  background-color: #007bff;
  border-color: #007bff;
  color:#fff;
  
}
step.active {
    border-color: #007bff;
    
}

/* Form grid */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.teamName{
  background-color: #d1cccc;
  width: 98%;
}
.form-item {
  display: flex;
  flex-direction: column;
}

.form-item label {
  margin-bottom: 6px;
  font-weight: 500;
}

.form-item input,
.form-item select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #d1cccc;
}

/* Buttons */
.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 10px;
}

button {
  padding: 10px 25px;
  cursor: pointer;
  border:none;
}

button.cancel {
  background-color: #ccc;
  color: #333;
  border:2px solid #007bff;
  border-radius: 3px;
}
button.cancel:hover{
  background: #e3f0ff;
}
button.next {
   background-color: #007bff;
  color: #fff;
  border-radius: 3px;
}
button.next:hover{
  background: #0f5fd1;
}
