/* Reset and base styles */
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Card container */
.container {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 400px;
}

/* Heading */
.tossText{
  /*text-align: center;*/
  margin-bottom: 20px;
  color: #333;
  font-size: 30px;
  font-weight:bold;
}

/* Sections */
.section {
  margin-bottom: 20px;
  margin-top: 30px;
}

.section strong {
  display: block;
  margin-bottom: 8px;
  color: #444;
}

.section label {
  display: block;
  margin: 6px 0;
  cursor: pointer;
  color: #555;
}

/* Choice buttons */
.choice-buttons {
  display: flex;
  /*justify-content: space-between;*/
  margin-top: 10px;
}

.choice-buttons button {
  padding: 10px 25px;
  border: 1px solid #555;
  /*border-radius: 2px;*/
  cursor: pointer;
  font-weight: bold;
  background: #ffffff;
  transition: background 0.3s, color 0.3s;
}

.choice-buttons button.active {
  background: #a0a3a0;
  color: #fff;
}
.choice-buttons.atkBtn{
  border-right: none;
}
/* Footer buttons */
.footer-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background: #2196f3;
  color: #fff;
  transition: background 0.3s;
}
.footer-buttons .digitalToss{
  color: #1976d2;

}
.footer-buttons button:hover {
  background: #1976d2;
}

/* Cancel button style */
.footer-buttons .cancel {
  background: #ad180d;
}

.footer-buttons .cancel:hover {
  background: #d32f2f;
}
